/* When hiding an element */
.am-landing.ng-hide-add {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;

    opacity: 1;
}
.am-landing.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

/* When showing an element */
.am-landing.ng-hide-remove {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;

    /* this needs to be here to make it visible during the animation
    since the .ng-hide class is already on the element rendering
    it as hidden. */
    display: block!important;
    opacity: 0;
}
.am-landing,
.am-landing.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

/* When hiding an element */
.am-decision.ng-hide-add {
    -webkit-transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    /*left: 50%;*/
    /*position: relative;*/
    opacity: 1;
}
.am-decision.ng-hide-add.ng-hide-add-active {
    /*left: 0;*/
    /*position: relative;*/
    opacity: 0;
}

/* When showing an element */
.am-decision.ng-hide-remove {
    -webkit-transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;

    /* this needs to be here to make it visible during the animation
    since the .ng-hide class is already on the element rendering
    it as hidden. */
    /*display: block!important;*/
    /*left: 50%;*/
    opacity: 0;
}
.am-decision,
.am-decision.ng-hide-remove.ng-hide-remove-active {
    /*left: 0;*/
    opacity: 1;
}

.am-option.ng-hide-add, .am-option.ng-hide-remove {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    /*display: block;*/
}

.am-option.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    /*color: #fff;
    background: #FF6600;*/
}

.am-option.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    /*color: #333;
    background: #fff;*/
}

.am-examples.ng-enter, .am-examples.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    position: relative;
    display: block;
}

.am-examples.ng-enter.am-examples.ng-enter-active,
.am-examples.ng-leave {
    opacity: 1;
    top: 0;
}

.am-examples.ng-leave.am-examples.ng-leave-active,
.am-examples.ng-enter {
    opacity: 0;
    top: -5px;
}

.am-breadcrumb-scale.ng-hide-add {
    -webkit-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

.am-breadcrumb-scale.ng-hide-add.ng-hide-add-active {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
}

.am-breadcrumb-scale.ng-hide-remove {
    -webkit-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    display: block!important;
    opacity: 0;
}

.am-breadcrumb-scale,
.am-breadcrumb-scale.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

/* project overview animations */

.am-switch-scaleY.ng-enter {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    position: relative;

    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
}

.am-switch-scaleY.ng-enter.ng-enter-active {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}