li.beginner a {
    color: green;
}

li.intermediate a {
    color: yellow;
}

li.expert a {
    color: red;
}

li.all a {
    color: blue;
}

/* tag css */

.tag {
    margin: 0 2px;
}

.tag a.delete {
    margin: 0 2px;
    color: white;
}
