/* landing page content */

html, body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1 {
    font-weight: 100;
}

.hero-bg {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("/images/fire.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.decision {
    margin: 4% 4% 4% 4%;
    background: #efefef;
}

.decision .jumbotron {
    font-size: 24px;
    padding: 40px 50px;
}

.decision h1 {
    border-bottom: 1px solid #777;
    padding-bottom: 1%;
    margin: 0;
    margin-bottom: 3%;
}

.decision .thumbnail {
    border-radius: 2px;
    padding: 10px;
}

.decision .thumbnail {
    color: #455;
}

.decision .thumbnail:hover {
    border-color: #FF6600;
}

.landing.jumbotron {
    margin: 4%;
    margin-top: 8%;
    padding: 1%;
    padding-bottom: 4%;
    opacity: 0.85;
}

.landing.jumbotron .form-control {
    margin-right: 1%;
    width: 50%;
}

.landing h1 {
    font-size: 96px;
}

.landing.jumbotron h1 span {
    color: #FF6600;
}

.landing h2 {
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 2%;
}

.landing .jumbotron p {
    margin-bottom: 2%;
}

/* resource view styles */

.dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
}

.beginner {
    color: green;
}
.dot-beginner {
    background-color: green;
}

.intermediate {
    color: yellow;
}
.dot-intermediate {
    background-color: yellow;
}

.advanced {
    color: red;
}
.dot-advanced {
    background-color: red;
}

.all {
    color: blue;
}
.dot-all {
    background-color: blue;
}

/* tag css */

.tag {
    margin: 0 2px;
}

.tag a.delete {
    margin: 0 2px;
    color: white;
}

.highlight {
    background-color: blue;
    color: white;
}

.line {
    border-bottom: 1px solid #bebebe;
    height: 1px;
    margin: 4px 0;
}

.author-input {
    float: left;
    margin-right: 10px;
}

.author-input input {
    display: inline-block;
    margin-right: 5px;
    width: 165px;
}

.author-input .attr a.btn {
    position: absolute;
}

.author-input .new-attr a.btn {
    margin-left: -4px;
    margin-top: -11px;
}
