/* landing page content */

html, body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    background: url("/images/fire2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img.hero-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1805px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

.textured-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    /*background: url('../images/dark_geometric.png');*/
    /*background: url('../images/debut_dark.png');*/
    /*background: url('../images/navy_blue.png');*/
    /*background: url('../images/stressed_linen.png');*/
    background: url('../images/mochaGrunge.png');
}

#decisions {    
    margin-top: 60px;
}

.decision {
    background: #efefef;
    padding: 40px 50px;
    -webkit-box-shadow: 4px 4px 7px -5px #251400;
    -moz-box-shadow:    4px 4px 7px -5px #251400;
    -ms-box-shadow:     4px 4px 7px -5px #251400;
    -o-box-shadow:      4px 4px 7px -5px #251400;
    box-shadow:         4px 4px 7px -5px #251400;
}

.decision h1 {
    font-weight: 100;
    border-bottom: 1px solid #777;
    padding-bottom: 1%;
    margin: 0;
    margin-bottom: 3%;
}

.decision a {
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    color: #455;
}

.decision p {
    font-size: 20px;
    margin-bottom: 0px;
}

.decision .thumbnail {
    border-radius: 2px;
    padding: 10px;
}

.decision .thumbnail:hover {
    border-color: #FF6600;
}

.landing {
    /*background: #bdc3c7;*/
    background: #111;
    color: #ffffff;
    margin: 4%;
    margin-top: 8%;
    padding: 1%;
    padding-bottom: 4%;
    opacity: 0.85;
}

.landing .form-control {
    margin-right: 1%;
    width: 50%;
}

.landing h1 {
    font-size: 96px;
    font-weight: 300;
    /*font-style: italic;*/
    font-family: 'Lato', sans-serif;
}

.landing h1 span {
    color: #FF6600;
}

.landing h2 {
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 2%;
}

.landing.jumbotron p {
    margin-bottom: 2%;
}

/* resource view styles */

.dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
}

.beginner {
    color: green;
}
.dot-beginner {
    background-color: green;
}

.intermediate {
    color: yellow;
}
.dot-intermediate {
    background-color: yellow;
}

.advanced {
    color: red;
}
.dot-advanced {
    background-color: red;
}

.all {
    color: blue;
}
.dot-all {
    background-color: blue;
}

/* tag css */

.tag {
    margin: 0 2px;
}

.tag a.delete {
    margin: 0 2px;
    color: white;
}

.highlight {
    background-color: blue;
    color: white;
}

.line {
    border-bottom: 1px solid #bebebe;
    height: 1px;
    margin: 4px 0;
}

.author-input {
    float: left;
    margin-right: 10px;
}

.author-input input {
    display: inline-block;
    margin-right: 5px;
    width: 165px;
}

.author-input .attr a.btn {
    position: absolute;
}

.author-input .new-attr a.btn {
    margin-left: -4px;
    margin-top: -11px;
}
