/* @override http://localhost:8080/styles/main.css */

/* General */

html, body {
    height: 100%;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.container .jumbotron, .jumbotron, .well {
    background-color: @clouds;
    border: none;
    border-radius: 0px;
    .transition-ease();
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.orange {
    color: @orange;
}

h1.jobfoundry {
    font-weight: 100;
}

img.hero-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1805px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

.textured-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    /*background: url('../images/dark_geometric.png');*/
    /*background: url('../images/debut_dark.png');*/
    background: url('../images/navy_blue.png');
    /*background: url('../images/stressed_linen.png');*/
    /*background: url('../images/mochaGrunge.png');*/
}

/* Colours */

@dark: #0d0d0d;
@darkgrey: #333333;
@lightgrey: #fafafa;
@grey: #bdc3c7;
@lightestblue: #62ABCE;
@lightblue: #3B9ECE;
@darkblue: #2c3e50;
@orange: #ff6600;
@lightorange: #FBA43F;
@lightestorange: #FBBB71;
@darkorange: #002649;
@green: #27ae60;

/* Flat UI */

/* Greens */
@turquoise: #1abc9c;
@greenSea: #16a085;
@emerald:#2ecc71;
@nephritis: #27ae60;
/* Blues */
@peterRiver: #3498db;
@belizeRiver: #2980b9;
/* Purples */
@amethyst: #9b59b6;
@wisteria: #8e44ad;
@wetAsphalt: #34495e;
@midnightBlue: #2c3e50;
/* Yellows & Oranges */
@sunFlower: #f1c40f;
// @orange: #f39c12;
@carrot: #e67e22;
@pumpkin: #d35400;
@alizarin: #e74c3c;
@pomegranate: #c0392b;
/* Greys */
@clouds: #ecf0f1;
@silver: #bdc3c7;
@concrete: #95a5a6;
@asbestos: #7f8c8d;

/* Mixins */

.box-shadow (@x: 10px, @y: 10px, @blur: 10px, @spread: -5px, @colour: black, @inset...) {
    -webkit-box-shadow: @x @y @blur @spread @colour @inset;
    -moz-box-shadow:    @x @y @blur @spread @colour @inset;
    -ms-box-shadow:     @x @y @blur @spread @colour @inset;
    -o-box-shadow:      @x @y @blur @spread @colour @inset;
    box-shadow:         @x @y @blur @spread @colour @inset;
}

.transition-ease (@time: 250ms) {
    -webkit-transition: @time cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: @time cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: @time cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: @time cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: @time cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.transition-ease-in (@time: 400ms) {
    -webkit-transition: @time cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: @time cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: @time cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: @time cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: @time cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
}

/* landing page */

.landing {
    background: @clouds;
    hr {
        border-color: #cccccc;
        width: 100%;
        border-style: solid none;
        border-bottom: 1px 0;
    }

    header {
        text-align: center;
        padding-top: 10%;
        height: 100%;
        h1 {
            font-size: 3.5em;
            font-weight: bold;
            margin-top: 40px;
        }
    }
    h1 {
        font-size: 5em;
        font-weight: 300;
        /*font-style: italic;*/
        font-family: 'Lato', sans-serif;
        span {
            color: @orange;
        }
    }
    h2 {
        font-size: 1.7em;
        font-weight: 200;
        margin-bottom: 2%;
        color: @orange;
        font-family: "Lato", "Open Sans", sans-serif;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        border-bottom: 1px #eeeeee;
    }
    &.jumbotron p {
        margin-bottom: 2%;
    }
    p {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    section {
        clear: both;
        overflow: auto;
        padding-bottom: 2em;
        padding-top: 2em;
        height: 100%;
        background-color: #ecf0f1;
        color: #333333;
        font-size: 1.4em;
        font-family: 'open sans', sans-serif;

        h2 {
            padding-bottom: 0.4em
        }

        #idea-to-done {
            h2 {
                text-align: center;
            }
            width: 55%;
            margin: 0 auto;
        }
        .section-container {
            width: 80%;
            margin: 0 auto;
        }

        &:nth-child(even) img {
            padding-right: 1em;
            float: left;
        }

        &:nth-child(odd) img {
            padding-left: 1em;
            float: right;
        }
        &.negative {
            background-color: #0d0d0d;
            color: #ffffff;
        }
    }

    .powerlines {
        text-align: center;
        margin-top: 150px;
        margin-bottom: 100px;
        h2 {
            font-weight: bold;
            font-style: italic;
            padding-top: 10px;
            color: white;
        }

        .btn {
            margin-bottom: 30px;
            padding: 10px 32px;
            font-size: 24px;
            border-radius: 6px;
        }
    }
}

.landing .form-control, .invite-form .form-control {
    margin-right: 1%;
    width: 50%;
}

@header-height: 10em;
.project, .task {
    @header-height: 26em;
    header {
        height: @header-height;
        width: 100%;
        position: absolute;
        left: 0;
        padding-top: 6em;
        text-align: center;
        color: @darkgrey;
        background-color: @clouds;
        h1, h2 {
            font-family: "Lato";
        }
        h1 {
            font-weight: 700;
            font-size: 3em;
            padding-bottom: 0.5em;
            // color: @darkblue;
        }
        p span {
            border-top: solid 2px @orange;
            padding-top: 1em;
        }
    }
    @goal-height: 40em;
    section {
        h2 {
            text-align: center;
            font-weight: bold;
            font-size: 2em;
            padding-bottom: 1em;
            span {
                border-bottom: solid 2px @orange;
                padding: 0px 30px 15px 30px;
            }
        }
        &.goal {
            height: @goal-height;
            padding-top: @header-height + 3;
        }
    }
    .container {
        padding-top: @header-height + 3;
    }
    .sidebar {
        li {
            font-size: 1.3em;
            padding: 4%;
        }
        li:hover, li.current {
            background-color: @orange;
            color: @clouds;
        }
    }
    nav {
        border: none;
        background-color: #0D1A26; //#0B1621;
        .logo {
            text-align: center;
            float: left;
            margin-top: 7px;
            margin-left: 2em;
        }
        z-index: 100;
        top: @header-height;
        left: 0;
        right: 0;
        position: absolute;
        top: @header-height + @goal-height;
        border-bottom: 4px solid @orange;
        &.sticky-fixed {
            position: fixed;
            top: 0;
        }
        &.navbar-inverse {
            background-color: @dark;
        }
        .logo {
            float: left;
            margin-top: 7px;
            margin-left: 10px;
        }
        ul {
            float: none;
            width: 80%;
            margin: 0 auto 0 11em;
            padding-left: 10em;
        }
    }
    #overview {
        padding-bottom: 10px;
        font-size: 1.4em;
        text-align: center;
    }
    #learning {
        list-style: none;
        li {
            margin-bottom: 6px;
            margin-left: 30px;
            .glyphicon {
                margin-right: 15px;
                color: @green;
            }
        }
    }
}

/* task view */

.task {
    .content {
        padding-top: 30px;
    }
    .resources {
        list-style: none;
    }
    .resource {
        display: inline-block;
        text-align: center;
        max-width: 200px;
        float: left;
        margin-right: 6%;
        .image-wrapper {
            position: relative;
        }
        .taglist {
            position: absolute;
            left: 0;
            bottom: 5px;
        }
        img {
            max-width: 100%
        }
    }
    .main-resource {
        padding: 10px;
        h5 {
            font-size: 1.3em;
        }
        img {
            max-width: 100%;
        }
    }
}

/*.sidebar {
    position: absolute;
    left: 0;
    top: 220px;
    padding-top: 10px;
    list-style: none;
    text-align: left;
}*/

/* project dashboard */

.project {
    header {
        padding-top: 2em;
    }
    .content {
        background-color: @clouds;
        input {
            width: 100%;
            // margin-top: 15px;
            margin-bottom: 15px;
            padding: 12px 24px;
            height: 54px;
            font: -webkit-small-control;
            // font-family: 'Lato', sans-serif;
            color: @darkgrey;
            font-size: 22px;
            background-color: @midnightBlue;//rgba(44, 62, 80, 0.8); //
            border: 0px;
            border-radius: none;
            &:focus {
                color: @clouds;
                border-color: @midnightBlue;
                .box-shadow(0 10px 10px 0 @midnightBlue inset);
            }
            &::-webkit-input-placeholder {
              color: @clouds;
              text-shadow: 0px 1px rgba(44, 62, 80, 0.5);
            }
            &:-moz-placeholder {
              color: @clouds;
              text-shadow: 0px 1px rgba(44, 62, 80, 0.5);
            }
            &::-moz-placeholder {
              color: @clouds;
              text-shadow: 0px 1px rgba(44, 62, 80, 0.5);
            }
            &:-ms-input-placeholder {
              color: @clouds;
              text-shadow: 0px 1px rgba(44, 62, 80, 0.5);
            }

        }
        .tasks {
            text-align: center;
            padding: 0 30px;
            margin-top: 30px;
            h1 {
                font-weight: 400;
                margin-top: 11px;
            }
            &.drop-hover {
                .box-shadow(0, 0, 44px, 10px, @orange, inset);
            }
            &.tasks {
                h2 {
                    margin-top: 0px;
                    margin-bottom: 15px;
                }
            }
            .row.active {
                background-color: @midnightBlue;
                .well {
                    margin: 30px 15px 0 15px;
                }
            }
        }
        h3, h4, h5, p {
            font-weight: 400;
            font-family: 'Merriweather', serif;
        }
    }
    multi-repeat {
        text-align: center;
        .row {
            background-color: @wetAsphalt;
            .multi-item:first-child .well {
                margin-left: 15px;
            }
            .multi-item:last-child .well {
                margin-right: 15px;
            }
            .multi-item:first-child:last-child .well {
                margin-right: 0px;
            }
            &:last-child {
                .multi-item {
                    margin-bottom: 30px;
                }
            }
        }
        .well {
            margin-top: 30px;
            margin-bottom: 0;
            &:hover {
                color: white;
                background-color: #2980b9;
            }
            &.translucent:hover {
                background-color: rgba(41, 128, 185, 0.85);
            }
        }
        a {
            color: #333;
            &:hover {
                text-decoration: none;
            }
        }
        h2 {
            margin-top: 10px;
        }
    }
}

/* decison flow */

.decision-flow {
    padding: 0 30px;
    margin-top: 30px;
    .breadcrumb {
        background-color: @midnightBlue;
        border-radius: 0;
        li > a {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            font-weight: 200;
            color: @clouds;
            .transition-ease-in(150ms);
            &:hover {
                text-decoration: none;
                color: @orange;
            }
        }
    }
}

.decision {
    &.jumbotron {
        // background-color: @wetAsphalt;
        background-color: @midnightBlue;
    }
    padding: 40px 50px;
    .box-shadow(4, 4, 7, -5, #251400);
    .jumbotron {
        font-size: 1.2em;
        padding: 40px 50px;
    }
    .thumbnail {
        .transition-ease-in();
        border: none;
        border-radius: 2px;
        padding: 10px;
        color: #455;
        &:hover {
            color: #333;
            background: @orange;
        }
    }
    h1 {
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        color: @clouds;
        border-bottom: 1px solid @clouds;
        padding-bottom: 1%;
        margin: 0;
        margin-bottom: 3%;
    }
    a {
        font-family: 'Lato', sans-serif;
        font-weight: 200;
        font-size: 26px;
        text-decoration: none;
        cursor: pointer;
        color: #455;
    }
    p {
        font-size: 20px;
        margin-bottom: 0px;
    }
    #option {
        border: none;
    }
}

.progress-bar {
    background-color: @orange;
}

/* resource view styles */

.unfinished-resource {
    clear: both;
}

.unfinished-resource a.btn {
    float: right;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
}

.beginner {
    color: green;
}
.dot-beginner {
    background-color: green;
}

.intermediate {
    color: yellow;
}
.dot-intermediate {
    background-color: yellow;
}

.advanced {
    color: red;
}
.dot-advanced {
    background-color: red;
}

.all {
    color: blue;
}
.dot-all {
    background-color: blue;
}

/* tag css */

.tag {
    margin: 0 2px;
}

.tag a.delete {
    margin: 0 2px;
    color: white;
}

.highlight {
    background-color: blue;
    color: white;
}

.line {
    border-bottom: 1px solid #bebebe;
    height: 1px;
    margin: 4px 0;
}

.author-input {
    float: left;
    margin-right: 10px;
}

.author-input input {
    display: inline-block;
    margin-right: 5px;
    width: 165px;
}

.author-input .attr a.btn {
    position: absolute;
}

.author-input .new-attr a.btn {
    margin-left: -3px;
    margin-top: 0;
}
