.DS_Store
node_modules
npm-debug.log
dist
.tmp
.sass-cache
mongoconfig.txt
app/components
app/assets/images/screenshots/*
bower_components
_public
mongoconfig.txt

*.sublime-project
*.sublime-workspace
