<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>JobFoundry -  learn fast and build things</title>
    <meta name="description" content="JobFoundry - learn fast and build things.">
    <base href="/">
</head>
<body>
  <h1>Job Foundry</h1>
  <h2>Personalised learning based on your project.</h2>
  <p>We recommend the most useful and relevant learning resources, so you can concentrate on building the next big thing.</p>
  <h3>What do you want to <strong>build?</strong></h3>

  <ul>
  <% _.forEach(options, function(option){ %>
    <li><%=option%></li>
  <% }); %>
  </ul>
  <p>We aren't quite ready yet, so sign up and be one of the first to join Job Foundry!</p>
</body>
</html>
