<div class="container">
  <div resize class="row tileWrapper">
    <metric-tile title='{{metric.title}}' type="{{metric.type}}" value='metric.value' columns='{{12 / metrics.length}}' options='metric.options' width='width' height='tileWrapperHeight' ng-repeat='metric in metrics'></metric-tile>
  </div>
  <!-- <multi-repeat resize collection="metrics" columns="2">
    <metric-tile title='{{item.title}}' value='item.value' comparison='item.comparison | round:1' target="item.target"></metric-tile>
  </multi-repeat> -->
  <div resize class="row graphWrapper">
    <graph-tile data='graph.data' type='graph.type' ylabel='graph.ylabel' height='graphWrapperHeight / graphs.length | number:0' width='width' ng-repeat='graph in graphs'></graph-tile>
  </div>
</div>