<div class="container">
  <div resize class="row tileWrapper">
    <metric-tile title='{{metric.title}}' value='metric.value' columns='{{12 / metrics.length}}' comparison='metric.comparison | round:1' target="metric.target" width='width' height='tileWrapperHeight' ng-repeat='metric in metrics'></metric-tile>
  </div>
  <div resize class="row graphWrapper">
    <graph-tile data='graph.data' ylabel='graph.ylabel' height='graphWrapperHeight / graphs.length' width='width' ng-repeat='graph in graphs'></graph-tile>
  </div>
</div>