<style type="text/css">
body {
  background-color: #ecf0f1;
}
p {
  font-family: 'Open Sans', sans serif;
  color: #0d0d0d;
}
.landing-content {
  padding-top: 30px;
}

.landing-content p {
  color: #333333;
  font-size: 1.4em;
}
.landing-content h2 {
  color: #ff6600;
}
.head {
  height: 100px;
  background-color: #00001B;
  margin: -30px -30px 0px -30px;
}
.head h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
  color: #FFFFFF;
  
}
.powerlines {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
.powerlines h1 {
  font-weight: bold;
  font-style: italic;
  padding-top: 10px;
  color: #0d0d0d;
}
.powerlines h2 {
  font-weight: bold;
  font-style: italic;
  padding-top: 10px;
  color: #0d0d0d;
}
.powerlines h3 {
  font-weight: bold;
  font-style: italic;
  padding-top: 15px;
  color: #0d0d0d;
}
.powerlines .btn {
  margin-top: 40px;

}
.orange {
  color: #ff6600;
}
.btn-mofo {
padding: 10px 32px;
font-size: 24px;
line-height: 1.53;
border-radius: 12px;
}
.negative {
  background-color: #0d0d0d;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.negative p {

}



</style>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="powerlines">
  <h1>What are you working on <span class="orange">right now?</span></h1>
  <h2>What's the most effective way for you to<br> learn <span class="orange">how to get it done?</span></h2>
  <h3>How can we <span class="orange">organise that all for you</span>, anywhere, for free?</h3>

  <a href="" ng-click="location.hash('idea-to-done')" class="btn btn-default btn-mofo">Learn More</a>
</div>
<div class="row landing-content negative">
  <div class="col-md-2"></div>
  <div class="col-md-8" id="idea-to-done">
    <div class="text-center">
      <img src="/images/logo-light-large.png" />
      <h2>Idea-to-Done, Faster Than Ever.</h2>
    </div>
    <p>Job Foundry organises learning by tasks, just like you do in real life with real work. On each task, you'll find the most useful examples, tools and helpful resources, so you can stop searching and start doing.</p>
  </div>
  <div class="col-md-2"></div>
</div>
<hr>
<div class="row landing-content">

  <div class="col-md-6">

    <p>Never again will you ask "why am I learning this?". You'll always find clear goals and actionable next steps. Tasks are ordered and grouped into your project, like creating a website, a mobile app or a marketing campaign. From your project overview, you can see what tasks to do next so you can make real progress towards creating your next big thing.</p>

    <p>So instead of attending a lecture, reading a book, watching a video and ploughing through content that you might apply bits of later that day… later that week… maybe months on -- try Job Foundry. Productivity guaranteed.</p>

  </div>
  <div class="col-md-6">
    <img src="http://placehold.it/480x320">
  </div>

</div>
<div class="row landing-content">

  <div class="col-md-6 pull-left">
    <img src="http://placehold.it/480x320">
  </div>
  <div class="col-md-6">

    <h2>Learn What Really Matters</h2>

    <p>You don't "learn to code" on Job Foundry. Learning is centred around what you're working on right now. You choose what you need to learn and when you need to learn it.</p>

    <p>Yes, there are areas where you need to study complex topics in detail, but whilst you're guided towards mastery, you'll be working towards achieving your own goals, not someone else's.</p>
  </div>

</div>
<div class="row landing-content">

  <div class="col-md-6 pull-left">

    <h2>There is no "one size fits all"</h2>

    <p>How you learn is as different as what you learn. Whether you learn best from videos examples, interactive tutorials, written guides or anything else, you'll find the most useful help for your learning style for what you're working on right now.</p>

  </div>
  <div class="col-md-6">
    <img src="http://placehold.it/480x320">
  </div>

</div>
<div class="row landing-content">

  <div class="col-md-6 pull-left">
    <img src="http://placehold.it/480x320">
  </div>
  <div class="col-md-6">

    <h2>Find only the most useful resources.</h2>

    <p>Search engines sort by relevance. Social sites sort by popularity. But what you need is world-class help sorted strictly by usefulness -- did someone else like you doing this task find this resource useful, yes or no?</p>

    <p>Relevant suggestions can be useless. Popular advice can be useless too. Save hours cutting through buzz and clutter, and instead zone straight in what's proven to be helpful by people before you.</p>

  </div>

</div>
<div class="row landing-content">

  <div class="col-md-6 pull-left">

    <h2>Share and Collaborate on Public or Private Projects</h2>

    <p>Just like real life, you can share and collaborate on tasks and projects. Invite your co-workers, your clients, your mentors and anyone else to leave comments, collaborate and share tasks.</p>

    <p>Keep your projects public for anyone too see, or private to yourself and select people only.</p>

  </div>
  <div class="col-md-6">
    <img src="http://placehold.it/480x320">
  </div>
</div>
<div class="row landing-content">

  <div class="col-md-2"></div>

  <div class="col-md-8">

    <invite-form show="true"></invite-form>

  </div>
  <div class="col-md-2"></div>

</div>
</div>
