<div class="container">
    <div class="row">
        <h1>Create a project</h1>
        <form ng-submit="addProject">
            <input type="text" placeholder="Project Name" ng-model="input.name">
            <input type="text" placeholder="Project Title" ng-model="input.title">
            <textarea cols="30" rows="10" placeholder="Project Overview" ng-model="input.overview"></textarea>
            <h2>Add Tasks</h2>
            <h3>Task and Modules List</h3>
            <div ng-repeat="module in inputTasks" ng-click="selectModule(module)">{{module.title}}</div>
            <div class="selected-module">
                <h4>{{selectedModule.title}}</h4>
                <div class="task" ng-repeat="task in selectedModule.tasks"><a href="" ng-click="removeTask(task)">x</a> {{task.title}}</div>
            </div>
            <input type="text" ng-model="newModuleTitle" enter-key="createModule(newModuleTitle)">
            <h3>Find Tasks</h3>
            <input type="text" placeholder="Search..." ng-model="taskSearch">
            <div ng-repeat="task in tasks | filter:taskSearch | limitTo:20">
                <a href="" ng-click="addTask(task)" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span></a> {{resource.title}}</div>
        </form>
    </div>
</div>
