<div class="row task">
  <header>
    <h1>{{project.title}}</h1>
    <h3>{{project.description}}</h3>
  </header>
  <div class="task-container" scroll-spy>
    <div class="col-md-2 sidebar">
      <ul sticky>
        <li spy="current">Current</li>
        <li spy="completed">Completed</li>
      </ul>
    </div>
    <div class="col-md-10 content">
      <div class="jumbotron col-lg-12">
        <h1>{{first.title}}</h1>
        <h3>{{first.subtitle}}</h3>
        <p class="lead">{{first.}}
        </div>
        <multi-repeat collection="tasks" columns="2">
        <a href="/task/{{item.name}}">
          <div class="well">
              <h3>{{item.title}}</h3>
              <h5>{{item.subtitle}}</h5>
          </div>
        </a>
      </multi-repeat>
    </div>
  </div>
</div>
