<div class="container">
    <div class="row">
        <h1>Create a task</h1>
        <form ng-submit="addTask()">
            <input type="text" placeholder="Task Name" class="form-control" ng-model="input.name"><br>
            <input type="text" placeholder="Task Title" class="form-control" ng-model="input.title"><br>
            <input type="text" placeholder="Task Subtitle" class="form-control" ng-model="input.subtitle"><br>
            <textarea name="overview" cols="30" rows="10" class="form-control" placeholder="Task Overview" ng-model="input.overview"></textarea>
            <h2>Task Outcomes</h2>
            <ul>
                <li ng-repeat="outcome in input.outcomes"><a href="" ng-click="input.outcomes.remove(outcome)">x</a> {{outcome}}</li>
            </ul>
            <input type="text" placeholder="Add Outcome" class="form-control" enter-key="addOutcome(newOutcome);newOutcome=''" ng-model="newOutcome"><br>
            <h2>Add Resources</h2>
            <h3>Resource List</h3>
            <div ng-repeat="resource in inputResources"><a href="" ng-click="inputResources.remove(resource)">x</a> {{resource.title}}</div>
            <div class="col-md-6">
                <h3>Find a resource</h3>
                <input type="search" placeholder="Search..." class="form-control" ng-model="resourceSearch" enter-key="addResource()">
                <div ng-repeat="resource in resources | filter:resourceSearch | limitTo:20"><a href="" ng-click="addResource(resource)" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span></a> {{resource.title}}</div>
            </div>
            <div class="col-md-6">
                <h3>Create a resource</h3>
                <input type="text" placeholder="Title" class="form-control" ng-model="resourceInput.title">
                <input type="text" placeholder="URL" class="form-control" ng-model="resourceInput.link">
                <tag-input placeholder="Media Types" tags="mediaTypes" ng-model="resourceInput.mediaType"></tag-input>
                <tag-input placeholder="Topics" tags="topicTypes" ng-model="resourceInput.topics" create></tag-input><br>
                <input type="text" placeholder="Resource Type" class="form-control" ng-model="resourceInput.resourceType"><br>
                <author-input authors="resourceInput.authors"></author-input><br>
                <div class="btn-group btn-group-justified">
                    <a href="" ng-repeat="(key, cost) in costs" type="button" class="btn btn-primary" ng-model="resourceInput.cost" btn-radio="'{{key}}'">{{cost}}</a>
                </div><br>
                <textarea rows="4" ng-model="resourceInput.description" class="form-control" placeholder="Enter a description"></textarea><br>
                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="createResource()">Create Resource</button><br>
            </div>
            <br>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
            <button type="button" class="btn btn-lg btn-danger btn-block" ng-show="editing" ng-click="deleteTask()">Delete</button>
        </form>
    </div>
    <div class="row">
        <h1>List of tasks</h1>
        <div class="task" ng-repeat="task in tasks">
            <a href="/task/{{task.name}}/edit">{{task.title}} - <span class="task-name">{{task.name}}</span></a>
        </div>
    </div>
</div>
