<div class="container">
    <div class="row task">
        <header>
            <h1>{{task.title}}</h1>
            <h2>{{task.subtitle}}</h2>
        </header>
        <div class="task-container" scroll-spy>
            <div class="col-md-3 sidebar">
                <ul sticky>
                    <li spy="overview">Overview</li>
                    <li spy="learning">Learning Outcomes</li>
                    <li spy="resources">Resources</li>
                    <li spy="summary">Summary</li>
                </ul>
            </div>
            <div class="col-md-9 content">
                <h3 id="overview">Overview</h3>
                <p>{{task.overview}}</p>
                <h3 id="learning">Learning Outcomes</h3>
                <ul>
                    <li ng-repeat="outcome in task.outcomes">{{outcome}}</li>
                </ul>
                <h3 id="resources">Resources</h3>
                <div class="resource-list" ng-repeat="(key, type) in mediaTypes" ng-show="(task.resources | filter:filterType(key)).length">
                    <h4 class="resource-title">{{type + 's'}}</h4> <!-- There will need to be a better way of pluralizing at some point... -->
                    <div class="resource row" ng-repeat="resource in task.resources | filter:filterType(key)">
                        <div class="col-md-3"><img ng-src="images/screenshots/{{resource._id}}.png" width="150"></div>
                        <div class="info col-md-9">
                            <h5><a target="_blank" href="{{resource.link}}">{{resource.title}}</a></h5>
                            <p>{{domain(resource.link)}}</p>
                            <p>{{resource.description}}</p>
                        </div>
                    </div>
                </div>
                <h3 id="summary">Summary</h3>
                <p>{{task.summary}}</p>
            </div>
        </div>
    </div>
</div>
