<div class="task container">
    <div class="row" scroll-spy>
        <header>
            <h1>{{task.title}}</h1>
            <p class="lead"><span>{{task.subtitle}}</span></p>
        </header>
        <section class="goal">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2><span class="glyphicon glyphicon-list glyphicon-headline"></span> Your goals for this task</h2>
                    <ul id="learning">
                        <li ng-repeat="outcome in task.outcomes"><span class="glyphicon glyphicon-ok"></span> {{outcome}}</li>
                    </ul>
                    <span class="greyline"><p id="overview">{{task.overview}}<br><br>Below are the most useful resources we've found to learn how to {{task.title}}.</p></span>
                </div>
            </div>
        </div>
    </section>
    <nav sticky class="navbar" role="navigation">
        <img class="logo" src="/images/logo-light-nav.png" height="35"/>
        <ul class="nav navbar-nav">
            <li spy="overview" spy-class="active"><a><span class="glyphicon glyphicon-unchecked"></span> Overview</a></li>
            <li spy="learning" spy-class="active"><a><span class="glyphicon glyphicon-unchecked"></span> Goals</a></li>
            <li spy="resources-concept" spy-class="active"><a><span class="glyphicon glyphicon-unchecked"></span> Concepts</a></li>
            <li spy="resources-course" spy-class="active"><a><span class="glyphicon glyphicon-unchecked"></span> Courses</a></li>
            <li spy="resources-tool" spy-class="active"><a><span class="glyphicon glyphicon-unchecked"></span> Tools</a></li>
            <li spy="resources-tutorial" spy-class="active"><a><span class="glyphicon glyphicon-unchecked"></span> Tutorials</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="content">
            <div ng-repeat="(type, resources) in task.resources" class="clearfix greyline" id="resources-{{type}}">
                <h2><span class="orange-underline">{{resourceMap(type)}}s</span></h2>
                <div class="main-resource row">
                    <div class="col-md-3">
                        <div class="image-wrapper">
                            <img ng-src="images/screenshots/{{mainResource(type)._id}}.png">
                            <div class="tags" ng-show="mainResource(type).mediaType.length">
                                {{mainResource(type).mediaType | join}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3><a href="{{mainResource(type).link}}" target="_blank">{{mainResource(type).title}}</a></h3>
                        <p class="link">{{mainResource(type).link}}</p>
                        <p class="description">{{mainResource(type).description}}</p>
                        <br>
                    </div>
                </div>
                <ul class="resources row">
                    <li class="resource" ng-repeat="resource in resources | limitTo:3">
                        <p><a href="" ng-click="setMainResource(type, resource)">
                            <div class="image-wrapper">
                                    <div class="tags" ng-repeat="type in resource.mediaType">{{type}}</div>
                                <img ng-src="images/screenshots/{{resource._id}}.png">
                                <div class="tags" ng-show="mainResource(type).mediaType.length">
                            </div>
                        </a></p>
                        <p><a class="btn btn-default" href="" ng-click="setMainResource(type, resource)">More details</a></p>
                        <p><a href="{{resource.link}}" target="_blank">{{resource.title}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
