<div class="decision jumbotron text-center">
  <h1>{{question}}</h1>
  <div class="row">
    <div class="col-lg-{{12/options.length}}" ng-mouseenter="showExamples=true" ng-mouseleave="showExamples=false" ng-hide="option.hidden" ng-repeat="option in options">
    	<a class="thumbnail" ng-click="nextFunc({next: option})">
    		{{option.name}}
    		<div ng-if="showDescription(option)" class="caption">
    			{{option.description}}
    		</div>
				<p ng-show="option.examples && showExamples">(e.g {{option.examples | join}})</p>
			</a>
    </div>
  </div>
</div>
