<div class="decision jumbotron text-center" ng-show="show">
  <h1>{{question}}</h1>
  <div class="row">
    <div id="option" class="col-lg-{{12/options.length}} am-option" ng-mouseenter="examplesVisible=true" ng-mouseleave="examplesVisible=false" ng-hide="option.hidden" ng-repeat="option in options">
    	<a class="thumbnail" ng-click="nextFunc({next: option})">
    		{{option.name}}
    		<div ng-if="option.description" class="caption">
    			<p>{{option.description}}</p>
    		</div>
				<p class="am-examples" ng-if="option.examples && examplesVisible">(e.g. {{option.examples | join}})</p>
			</a>
    </div>
  </div>
</div>
