<h2>{{valueFor('path',path)}}</h2>
<div ng-repeat="(levelKey, levelName) in levels">
    <h3>{{levelName}}</h3>
    <div ng-repeat="resource in resources | filter:{path: path, level: levelKey}" ng-init="collapsed=true">
        <i class="{{resource.level}}" ng-class="{'icon-collapse': !collapsed, 'icon-expand': collapsed}" ng-click="collapsed = !collapsed"></i>
        <!-- <span class="dot {{resource.level}}"></span> -->
        <a href="{{resource.link}}">{{resource.title}}</a>
        <div class="content row" ng-hide="collapsed">
            <div class="span4">
                <a target="_blank" href="{{resource.link}}"><p class="muted small">{{resource.link}}</p></a>
                Level: <p>{{valueFor('level', resource.level)}}</p>
                Topics: <p><tag key="{{topic}}" ng-repeat="topic in resource.topic">{{valueFor('topic', topic)}}</tag></p>
                Media Types: <p><tag key="{{type}}" ng-repeat="type in resource.mediaType">{{valueFor('mediaType', type)}}</tag></p>
            </div>
            <div class="span4">
                Author data: <br>
                <span ng-repeat="author in resource.authors">
                    <p ng-repeat="(key, value) in author">{{key}}: {{value}}</p>
                </span>
            </div>
            <div class="span4" ng-show="resource.description">
                Description:
                <p class="small description">{{resource.description}}</p>
                Cost: {{valueFor('cost', resource.cost)}}<br>
            </div>
        </div>
        <div class="line" ng-show="!$last"></div>
    </div>
</div>
