<ul class="list-view unstyled span6" ng-repeat="(key, path) in paths">
    <h2>{{path}}</h2>
    <li ng-repeat="resource in resources | filter:{path: key}" ng-init="collapsed=true">
        <i class="{{resource.level}}" ng-class="{'icon-collapse': !collapsed, 'icon-expand': collapsed}" ng-click="collapsed = !collapsed"></i>
        <!-- <span class="dot {{resource.level}}"></span> -->
        <a href="{{resource.link}}">{{resource.title}}</a>
        <div class="content" ng-hide="collapsed">
            <p class="muted small">{{resource.link}}</p>
            Path: <p>{{resource.path}}</p>
            Level: <p>{{resource.level}}</p>
            Topics: <p><tag key="{{topic}}" ng-repeat="topic in resource.topics">{{valueFor('topic', topic)}}</tag></p>
            Media Types: <p><tag key="{{type}}" ng-repeat="type in resource.mediaTypes">{{valueFor('mediaType', type)}}</tag></p>
            Author data: <br>
            <div ng-show="resource.author.name">Name: {{resource.author.name}}</div>
            <div ng-show="resource.author.twitter">Twitter: {{resource.author.twitter}}</div>
            <div ng-show="resource.author.github">Github: {{resource.author.github}}</div>
            Cost: {{resource.cost}} <br>
            <div ng-show="resource.description">
                Description:
                <p class="small description">{{resource.description}}</p>
            </div>
        </div>
        <div class="line" ng-show="!$last"></div>
    </li>
</ul>
