<div class="row">
    <div class="span6">
        <tag-input ng-model="input.levelsTest" tags="topics"></tag-input>
        <h1>Add a new resource</h1>
        <form ng-submit="addResource()">
            <input type="text" ng-model="input.title" required placeholder="Title">
            <input type="url" ng-model="input.url" required placeholder="URL">
            <!-- Difficulty level selection -->
            <select ui-select2 ng-model="input.level" ng-required="true"  data-placeholder="Select a level">
                <option value=""></option>
                <option ng-repeat="level in levels" value="{{level}}">{{level | capitalise}}</option>
            </select>
            <br>
            <!-- Path selection -->
            <select ui-select2 ng-model="input.path" ng-required="true" data-placeholder="Select a path">
                <option value=""></option>
                <option ng-repeat="path in paths" value="{{path.key}}">{{path.name}}</option>
            </select>
            <br>
            <!-- Topic selection -->
            <input ui-select2="{tags: topics}" type="hidden" ng-model="input.topics" ng-required="true" data-placeholder="Select topics">
            <br>
            <!-- Media type -->
            <input ui-select2="{tags: mediaTypes}" type="hidden" ng-model="input.types" data-placeholder="Select media type(s)">
            <br>
            <!-- Author data -->
            Author data:
            <div class="author-wrapper">
                <!-- Name -->
                <input type="hidden" ui-select2="authorSelectOptions" ng-required="true" data-placeholder="Author Name" ng-model="input.author.name">
                Author list:
                <div ng-repeat="author in authors">{{author.name}} <p class="small muted">{{author | json}}</p></div>
                <br>
            </div>

            <textarea cols="10" rows="7" ng-model="input.description" placeholder="Enter a description (optional)"></textarea>

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="span6">
        <h1>List of URLs</h1>
        <ul class="unstyled">
            <li ng-repeat="resource in resources" class="{{resource.level}}">
                <a href="{{resource.link}}">{{resource.title}}</a>
                <p class="muted small">{{resource.link}}</p>
                Path: <p>{{resource.path}}</p>
                Level: <p>{{resource.level}}</p>
                Topics: <p><span tag="topic" ng-repeat="topic in resource.topics"></span></p>
                Media Types: <p><span tag="type" ng-repeat="type in resource.mediaTypes"></span></p>
            </li>
        </ul>
    </div>
</div>
