<div class="row">
    <div class="span12">
        <h1>Add a new resource</h1>
        <form ng-submit="addResource()">
            <input type="text" ng-model="input.title" required placeholder="Title">
            <input type="url" ng-model="input.link" required placeholder="URL">
            <br>
            <!-- Difficulty level selection -->
            Level: <br>
            <div class="btn-group">
                <button ng-repeat="(key, level) in levels" type="button" class="btn btn-primary" ng-model="input.level" btn-radio="'{{key}}'">{{level}}</button>
            </div>
            <!-- <select ui-select2 ng-model="input.level" ng-required="true"  data-placeholder="Select a level">
                <option value=""></option>
                <option ng-repeat="(key, level) in levels" value="{{key}}">{{level}}</option>
            </select> -->
            <br><br>
            <!-- Path selection -->
            Path: <br>
            <div class="btn-group">
                <button ng-repeat="(key, path) in paths" type="button" class="btn btn-primary" ng-model="input.path" btn-radio="'{{key}}'">{{path}}</button>
            </div>
            <!-- <select ui-select2 ng-model="input.path" ng-required="true" data-placeholder="Select a path">
                <option value=""></option>
                <option ng-repeat="(key, path) in paths" value="{{key}}">{{path}}</option>
            </select> -->
            <br>
            <!-- Topic selection -->
            <tag-input ng-model="input.topic" tags="topics" placeholder="Select topics" create></tag-input>
            <br>
            <!-- Media type -->
            <tag-input ng-model="input.mediaType" tags="mediaTypes" placeholder="Select media types"></tag-input>
            <br>
            <!-- Author data -->
            <div class="author-wrapper">
                Number of authors: <br>
                <input type="number" ng-model="authorCount" min="1" max="10">
                <div class="clearfix"></div>
                <div class="author" ng-repeat="author in input.authors">
                    <input type="text" ng-repeat="attr in author" ng-model="attr.value" placeholder="{{attr.key}}"><br>
                    <input type="text" ng-model="newAttr" placeholder="New attribute">
                    <a href="" ng-click="addAuthorAttr(author, newAttr) &amp;&amp; (newAttr='')" class="btn"><i class="icon-plus"></i></a>
                </div>
                <br>
            </div>
            <!-- Cost data -->
            <div class="clearfix"></div>
            Cost: <br>
            <div class="btn-group">
                <button ng-repeat="(key, cost) in costs" type="button" class="btn btn-primary" ng-model="input.cost" btn-radio="'{{key}}'">{{cost}}</button>
            </div>
            <br><br>
            <!-- Description -->
            <textarea cols="10" rows="7" ng-model="input.description" placeholder="Enter a description (optional)"></textarea>

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="row">
    <h1>List of URLs</h1>
    <ul class="unstyled span6" ng-repeat="(key, path) in paths" ng-init="limit = 10">
        <h3>{{path}}</h3>
        <a href="#/list/{{key}}">View all {{(resources | filter:{path: key}).length}} ></a>
        <li ng-repeat="resource in resources | filter:{path: key} | limitTo: limit">
            <span class="dot dot-{{resource.level}}"></span>
            <a href="{{resource.link}}">{{resource.title}}</a>
        </li>
    </ul>
</div>
